[submodule "vendor/gopkg.in/mgo.v2"]
	path = vendor/gopkg.in/mgo.v2
	url = https://gopkg.in/mgo.v2
[submodule "vendor/gopkg.in/xiaonanln/goTimer.v0"]
	path = vendor/gopkg.in/xiaonanln/goTimer.v0
	url = http://gopkg.in/xiaonanln/goTimer.v0
